* {

    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */

.btn {
    color: white;
    background-color: #469165;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* sections */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

    ul {
        list-style: none;
        display: flex;
        gap: 32px;
        font-weight: 500;
    }
}

.heroContainer {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    /* min-height: 674px; */
    padding: 70px 120px 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.heroContent h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    color: white;

    span {
        color: #30B868;
    }
}

.heroContent p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

}

.heroItem {
    background-color: white;
    color: #469165;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
}

.heroButton {
    display: flex;
    align-items: center;
    gap: 16px;
}
.noteContainer {
 background-color: #469165;
}