* {

    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */

.btn {
    color: white;
    background-color: #469165;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0px 0px 8px 0px #0000000F;
}

.cardImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

cardContent h3 {
    font-size: 24px;
    font-weight: 600;
    columns: #001931;
}

.noteContent h1,
.secondBrainMainContant h1 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}

.card p,
.noteContent p,
.secondBrainMainContant p {
    color: #627382;
    line-height: 24px;
    text-align: center;
}

/* sections */

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

    ul {
        list-style: none;
        display: flex;
        gap: 32px;
        font-weight: 500;
    }
}

/* hero */

.heroContainer {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    /* min-height: 674px; */
    padding: 70px 120px 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.heroContent h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    color: white;

    span {
        color: #30B868;
    }
}

.heroContent p {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

}

.heroItem {
    background-color: white;
    color: #469165;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 100px;
}

.heroButton {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* note */

.noteContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
    text-align: center;
    gap: 44px;
}

.noteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}



.cardContainer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* Second Brain Section */

.secondBrainContainer {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px;

}

.secondBrainImage {
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

.secondBrainImage img {
    height: 100%;
    border-radius: 12px;
    background-position: center;
}

.secondBrainContant {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.secondBrainMainContant {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.secondBrainMainContant h4 {
    font-weight: 500;
    color: #469165;
}

.secondBrainMainContant p {
    text-align: left;
}

.secondBrainListContant ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.secondBrainListContant ul li{
color: #001931;
font-weight: 500;
display: flex;
align-items: center;
gap: 6px;
}
.secondBrainListContant ul li::before{
    content: "";
    height: 20px;
    width: 20px;
    background: url(./assets/CheckCircle.png);
    
}